{% import "LaAdminBundle:Macro:session.html.twig" as session %}
{% import "LaAdminBundle:Macro:alert.html.twig" as alert %}

{% if form is defined %}
    {% form_theme form 'LaAdminBundle:Form:Bootstrap/form_div_layout.html.twig' %}
{% endif %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock title %}</title>

    <!-- Core CSS - Include with every page -->

    <link href="{{ asset('bundles/laadmin/sb-admin-v2/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/laadmin/sb-admin-v2/font-awesome/css/font-awesome.css') }}" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="{{ asset('bundles/laadmin/sb-admin-v2/css/plugins/morris/morris-0.4.3.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/laadmin/sb-admin-v2/css/plugins/timeline/timeline.css') }}" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="{{ asset('bundles/laadmin/sb-admin-v2/css/sb-admin.css') }}" rel="stylesheet">

    {% block extra_stylesheets %}

    {% endblock extra_stylesheets %}


    <style type="text/css">
        .nav li.current a {
            background-color: #ddd;;
        }
    </style>

</head>

<body>

<div id="wrapper">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">{{ render(controller('LaAdminBundle:Default:title')) }}</span>
        </div>
        <!-- /.navbar-header -->

        {% if is_granted('ROLE_LA_ADMIN_USER_PROFILE') %}


            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a href="{{ url('la_admin_account') }}">
                        <i class="fa fa-user fa-fw"></i> {{ app.user }}
                    </a>
                </li>
            </ul>
            <!-- /.navbar-top-links -->

        {% endif %}

        <div class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    {% if current_menu is not defined %}
                        {% set current_menu = '' %}
                    {% endif %}
                    {% if current_sub_menu is not defined %}
                        {% set current_sub_menu = '' %}
                    {% endif %}

                    {% block sidebar %}
                        {{ render(controller('LaAdminBundle:Default:sidebar', {'current_menu':current_menu,'current_sub_menu':current_sub_menu})) }}
                    {% endblock sidebar %}
                </ul>
                <!-- /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ block('title') }}</h1>
                {% block lead %}
                {% endblock lead %}
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <!-- /.row -->
        <div class="row">
            {% block alert %}
                {% for flashMessage in app.session.flashbag.get('success') %}
                    {{ alert.success(flashMessage) }}
                {% endfor %}

                {% for flashMessage in app.session.flashbag.get('info') %}
                    {{ alert.info(flashMessage) }}
                {% endfor %}

                {% for flashMessage in app.session.flashbag.get('warning') %}
                    {{ alert.warning(flashMessage) }}
                {% endfor %}

                {% for flashMessage in app.session.flashbag.get('danger') %}
                    {{ alert.danger(flashMessage) }}
                {% endfor %}
            {% endblock alert %}

            {% block content %}
            {% endblock content %}

        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Core Scripts - Include with every page -->

<script src="{{ asset('bundles/laadmin/sb-admin-v2/js/jquery-1.10.2.js') }}"></script>
<script src="{{ asset('bundles/laadmin/sb-admin-v2/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/laadmin/sb-admin-v2/js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>

<!-- Page-Level Plugin Scripts - Dashboard -->
<script src="{{ asset('bundles/laadmin/sb-admin-v2/js/plugins/morris/raphael-2.1.0.min.js') }}"></script>
{% block js_morris %}
    <script src="{{ asset('bundles/laadmin/sb-admin-v2/js/plugins/morris/morris.js') }}"></script>
{% endblock js_morris %}
<!-- SB Admin Scripts - Include with every page -->
<script src="{{ asset('bundles/laadmin/sb-admin-v2/js/sb-admin.js') }}"></script>

<!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
{#<script src="{{ asset('bundles/laadmin/sb-admin-v2/js/demo/dashboard-demo.js') }}"></script>#}

{% block extra_js %}

{% endblock extra_js %}

</body>

</html>
