{% macro success(message) %}
    <div class="panel-body">
        <div class="alert alert-success">
            <i class="fa fa-check fa-fw"></i> {{ message }}
        </div>
    </div>
{% endmacro %}

{% macro info(message) %}
    <div class="panel-body">
        <div class="alert alert-info">
            <i class="fa fa-info fa-fw"></i> {{ message }}
        </div>
    </div>
{% endmacro %}

{% macro warning(message) %}
    <div class="panel-body">
        <div class="alert alert-warning">
            <i class="fa fa-warning fa-fw"></i> {{ message }}
        </div>
    </div>
{% endmacro %}

{% macro danger(message) %}
    <div class="panel-body">
        <div class="alert alert-danger">
            <i class="fa fa-fire fa-fw"></i> {{ message }}
        </div>
    </div>
{% endmacro %}