{% macro history(title, key, route, max) %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ title }}</h3>
        </div>
        <div class="panel-body">
            {% if app.session.has('admin_history') %}
                {% if app.session.get('admin_history')[key] is defined %}
                    <ul class="list-group">
                        {% for i,u in app.session.get('admin_history')[key] %}
                            {% if i < max %}
                                <li class="list-group-item"><a href="{{ url(route, {(key):u}) }}">{{ u }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
            <!-- /.row (nested) -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
{% endmacro %}