<div class="row">
    <div class="col-md-12">

        {% for i, item in links %}
            {% if i != 'la_admin.nav.home.default' %}
                <div class=" col-xs-12 col-sm-6  col-md-4 col-lg-4" style="text-align:center; margin:0 0 20px;">
                    <h2>
                        <a href="{{ item.links.0.url }}"><i class="fa fa-{{ item.icon }}" style="font-size:4em; min-height: 150"></i><br/>{{ item.name|trans({}, 'admin') }}
                        </a>
                    </h2>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
