{% extends "LaAdminBundle::layout.html.twig" %}

{% block title %}
    Welcome
{% endblock title %}

{% block content %}

    <div class="row">
        {{ render(controller('LaAdminBundle:Default:home', {'current_menu':current_menu,'current_sub_menu':current_sub_menu})) }}
    </div>
{% endblock content %}

