{% for i, item in links %}


    {% if item.links|length > 1 %}
        <li class="{% if current_menu == item.name %} active {% endif %}">
            <a href="#"><i class="fa fa-{{ item.icon }} fa-fw"></i>&nbsp;{{ item.name|trans({}, 'admin') }}<span
                        class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                {% for l in item.links %}
                    <li{% if current_sub_menu == l.name %} class="current"{% endif %}>
                        <a href="{{ l.url }}">{{ l.name|trans({}, 'admin') }}</a>
                    </li>
                {% endfor %}
            </ul>
            <!-- /.nav-second-level -->
        </li>
    {% else %}
        <li class="{% if current_menu == item.name %} active current {% endif %}">
            <a href="{{ item.links.0.url }}"><i class="fa fa-{{ item.icon }} fa-fw"></i>&nbsp;{{ item.name|trans({}, 'admin') }}<span
                        class="fa arrow"></span></a>
            <!-- /.nav-second-level -->
        </li>
    {% endif %}
{% endfor %}