{% extends "LaAdminBundle::layout.html.twig" %}

{% block title %}
    Mon profile</em>
{% endblock title %}

{% block content %}

    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="table-responsive">


                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" />

                    {{ form_end(form) }}


                </div>
                <!-- /.table-responsive -->
            </div>

        </div>
    </div>


{% endblock content %}