{% extends "LaAdminBundle::layout.html.twig" %}

{% block title %}
    Informations User pour <em>{{ user.username }}</em>
{% endblock title %}

{% block content %}

    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="table-responsive">


                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" />

                    {{ form_end(form) }}


                </div>
                <!-- /.table-responsive -->
            </div>

            <div class="col-lg-6">
                {{ session.history('Historique des users', 'admin_user', 'la_admin_settings_user_edit', 10) }}
            </div>
        </div>
    </div>


{% endblock content %}